<h1>Tacos!!!</h1>

<p>Welcome Taco Brooooooootherrrrrrrs!</p>

<% fillings = ["Carnitas", "Al Pastor", "Pescado", "Shrimp", "Veggie"] %>

<p>We have <%= fillings.count %> tacos</p>

<ul>
  <% for filling in fillings %>
    <li> <%= filling %> </li>
  <% end %>
</ul>